@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@rendermode RenderMode.InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CustomizableFormsApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templates">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Templates
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account/profile">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Hello, @context.User.Identity?.Name!
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account/logout">
                        <span class="bi bi-box-arrow-right-nav-menu" aria-hidden="true"></span> Log out
                    </NavLink>
                </div>
                <AuthorizeView Roles="Admin" Context="adminContext">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="admin/users">
                            <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> User Management
                        </NavLink>
                    </div>
                </AuthorizeView>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account/register">
                        <span class="bi bi-person-plus-fill-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account/login">
                        <span class="bi bi-box-arrow-in-right-nav-menu" aria-hidden="true"></span> Log in
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}